body, .ant-menu {
  font-family: 'Ubuntu Mono', monospace !important;
  background-color: #191C21;
  height: -webkit-fill-available !important;
}
#app h1, #app h2, #app h3, #app h4, #app h5, #app h6, #app p {
  color: white;
  font-family: 'Ubuntu Mono', monospace !important;
}
#app input, #app .ant-input-number {
  color: #191C21;
  height: 45px;
}
#app .ant-layout {
  padding: 0 15%;
  background-color: #191C21;
  padding-bottom: 250px;
  min-height: 100vh;
}
#app .container {
  font-family: 'Ubuntu Mono', monospace !important;
  background: #202329;
  padding: 50px 100px;
  color: white;
  margin-top: 80px;
}
#app .ant-input-number {
  width: 45%;
}
#app .ant-layout-header {
  padding: 0;
}

#app .ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
  float: right;
}

#app .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;
  border-bottom: 6px solid #40a9ff;
}
#app .ant-menu-dark, .ant-menu-dark .ant-menu-sub {
  background: #191C21;
}

#app .logo {
  width: 120px;
  float: left;
  font-size: 18px;
  text-align: left;
  color: white;
  display: flex;
  justify-content: space-around;
}

#app .ant-tabs-nav .ant-tabs-tab {
  height: 50px;
}

#app .identicon {
  margin-right: 0;
  right: 0;
  padding-right: 0;
  top: 10px;
}

#app .ant-steps-item-title {
  color: white;
  font-family: 'Ubuntu Mono', monospace !important;
}

#app .ant-steps-icon {
  line-height: 2;
  font-family: 'Ubuntu Mono', monospace !important;
}

#app .hidden {
  display: none;
}

.form-container {
  min-height: 300px;
  padding: 0 15% !important;
}
.steps-action {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#app .ant-btn-lg {
  line-height: 0;
  width: 25%;
  height: 50px;
}
#app .add-button {
  width: 100%;
  opacity: 0.3;
  height: 80px;
}
.add-button:hover {
  opacity: 0.5;
}

#app .description {
  opacity: 0.6;
}

.tagline {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tagline img {
  margin-top: -60px;
  margin-left: 110px;
}
.tagline h1 {
  z-index: 20;
}

.home-container {
  margin-top: 30%;
}

.action-container {
  display: flex;
  margin-top: 40px;
}
.action-container > a {
  padding-right: 30px;
}
.action-container > a:hover {
  opacity: 0.5;
}

.congrats-icon {
  transform: scaleX(-1);
  font-size: 22px;
}

.take-survey-submit {
  text-align: center;
  margin-top: 50px;
}
#app .ant-card {
  background: #2e313a;
  color: #c7c7c7;
}
#app .ant-card-head-title {
  color: white;
}
#app .ant-card-head {
  border-bottom: 1px solid #000000;
}
.survery-card {
  cursor: pointer;
}
.survery-card:hover {
  opacity: 0.6;
}

/* Helper classes */
.text-center {
  text-align: center;
}

.m-top-10 {
  margin-top: 30px !important;
}
.m-top-20 {
  margin-top: 30px !important
}
.m-top-30 {
  margin-top: 30px !important;
}
.m-top-40 {
  margin-top: 40px !important;
}
.m-bottom-10 {
  margin-bottom: 10px !important;
}
.m-bottom-20 {
  margin-bottom: 20px !important;
}
.m-bottom-30 {
  margin-bottom: 30px !important;
}
.m-bottom-40 {
  margin-bottom: 40px !important;
}